<style>
/*--------------------------------------------------------------------------------------------------------------------*/
/* GENERAL THEME                                                                                                      */
/*--------------------------------------------------------------------------------------------------------------------*/

body {
	background: white url('{{BACKGROUND_URL}}') fixed;
	background-size: cover;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* AMI THEME                                                                                                          */
/*--------------------------------------------------------------------------------------------------------------------*/

#ami_main_container {
	border-radius: 10px;
	box-shadow: 00px 05px 15px rgba(19, 0, 0, 0.5);
	margin: 12px 16px 24px 16px;
	padding: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#ami_main_center {
	background-color: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#ami_top_menu {
	border-radius: 10px 10px 0 0;
}

#ami_bottom_menu {
	border-radius: 0 0 10px 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
</style>

<div role="alert" id="ami_alert_content" style="top: 70px;"></div>

<div id="ami_main_container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" id="ami_top_menu">

		<div class="container-fluid mx-3 px-0">

			<a class="navbar-brand py-0" href="{{HOME_URL}}">
				<img src="{{LOGO_URL}}" alt="Logo" style="height: 38px;" />
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#FCE61AFD_012B_2816_B9FD_C737908FAF72">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="FCE61AFD_012B_2816_B9FD_C737908FAF72">

				<ul class="navbar-nav me-xxxx" id="ami_main_menu_content"></ul>
				<ul class="navbar-nav ms-auto" id="ami_ext_menu_content"></ul>
				<ul class="navbar-nav me-xxxx" id="ami_login_menu_content"></ul>

			</div>

		</div>

	</nav>

	<div id="ami_main_center">

		<ol class="breadcrumb rounded mx-3 my-2" id="ami_breadcrumb_content">&nbsp;</ol>

		<div role="main" id="ami_main_content"></div>

	</div>

	<nav class="navbar navbar-expand-lg navbar-light bg-light2" id="ami_bottom_menu">

		<div class="container-fluid mx-3 px-0">

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#B06DBB00_43B5_3128_B476_F7D3BAE1B15C">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="B06DBB00_43B5_3128_B476_F7D3BAE1B15C">

				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://lpsc.in2p3.fr/" target="_blank">
							<i class="bi bi-lpsc"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="mailto:{{CONTACT_EMAIL}}" target="_blank">
							<i class="bi bi-envelope"></i> Contact
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ABOUT_URL}}" target="_blank">
							<i class="bi bi-box-arrow-up-right"></i> About
						</a>
					</li>
				</ul>

			</div>

		</div>

	</nav>

</div>
